.app {
  min-height: 100vh;
  background-color: #2A2944;
}

.section {
  min-height: 100vh;
  /*padding: 100px 60px 80px;*/
  

  scroll-margin-top: 80px; /* Accounts for fixed 
  navbar */
  margin-top: 40px;

}

/* Responsive */
@media (max-width: 768px) {
  .section {
    padding: 80px 20px 60px;
  }
}